{% extends "base.html" %}
{% block content %}

    <!--Page Header-->
    <h3 class="green-text center-align">Add Recipe</h3>

     <!--Page Image-->
    <div class="image">
        <img class="responsive" width="800" src={{ url_for('static', filename='images/recipe_cluster_add_recipe_image.jpg')}} alt="Fruit & Vegtables">
    </div>

    <!--Page Paragraph-->
    <div class="page_paragraph">
        <p>
             Add your recipe below. Our form has multiple options for you to fill in to provide information about your recipes.
        </p>
    </div>

    <!--Recipe Form-->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!--Recipe Name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-file-signature prefix green-text"></i>
                    <textarea id="recipe_name" name="recipe_name" minlength="2" maxlength="75"
                     type="text" class="materialize-textarea" required></textarea>
                    <label for="recipe_name">Name</label>
                </div>
            </div>
            <!--Cuisine Selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-globe-europe prefix green-text"></i>
                    <select id="recipe_cuisine" name="recipe_cuisine" class="validate" required>
                        <option value=""></option>
                        <option value="Global">Global</option>
                        <option value="Irish">Irish</option>
                        <option value="English">English</option>
                        <option value="Italian">Italian</option>
                        <option value="French">French</option>
                        <option value="Spanish">Spanish</option>                       
                        <option value="American">American</option>                        
                        <option value="Mexican">Mexican</option>
                        <option value="Asian">Asian</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Vegan">Vegan</option>
                    </select>
                        <label for="recipe_cuisine">Cuisine</label>
                </div>
            </div>
            <!--Recipe Type Selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix green-text"></i>
                     <select id="recipe_type" name="recipe_type" class="validate" required>
                        <option value=""></option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Snack">Snack</option>
                        <option value="Pastry">Pastry</option>
                        <option value="Baking">Baking</option>
                        <option value="Smoothie">Smoothie</option>
                        <option value="Juice">Juice</option>
                        <option value="Tea/Coffee">Tea/Coffee</option>
                        <option value="Beverage">Beverage</option>
                        <option value="Alcohol">Alcohol</option>
                    </select>
                        <label for="recipe_type">Type</label>
                </div>
            </div>
            <!--Recipe Time Duration Selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix green-text"></i>
                     <select id="recipe_time" name="recipe_time" class="validate">
                        <option value=""></option>
                        <option value="Less Than 15 Minutes">Less Than 15 Minutes</option>
                        <option value="Less Than 30 Minutes">Less Than 30 Minutes</option>
                        <option value="Less Than 1 Hour">Less Than 1 Hour</option>
                        <option value="Less Than 2 Hours">Less Than 2 Hours</option>
                        <option value="Less Than 3 Hours">Less Than 3 Hours</option>
                        <option value="Less Than 4 Hours">Less Than 4 Hours</option>
                        <option value="Less Than 5 Hours">Less Than 5 Hours</option>
                        <option value="Less Than 6 Hours">Less Than 6 Hours</option>
                        <option value="Overnight">Overnight</option>
                    </select>
                        <label for="recipe_time">Time</label>
                </div>
            </div>
            <!--Recipe Serving-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensil-spoon prefix green-text"></i>
                     <select id="recipe_serving" name="recipe_serving" class="validate">
                        <option value=""></option>
                        <option value="One">One</option>
                        <option value="Two">Two</option>
                        <option value="Three">Three</option>
                        <option value="Four">Four</option>
                        <option value="Five">Five</option>
                        <option value="Six">Six</option>
                    </select>
                        <label for="recipe_serving">Serves</label>
                </div>
            </div>
            <!--Allergen Selection-->
            <div class="row">
                <div class="input-field col s12">
                <i class="fas fa-bacterium prefix green-text"></i>
                <select multiple id="recipe_allergens" name="recipe_allergens" class="validate">
                    <option value=""></option>
                    <option value="Gluten">Gluten</option>
                    <option value="Crustaceans">Crustaceans</option>
                    <option value="Eggs">Eggs</option>
                    <option value="Fish">Fish</option>
                    <option value="Peanuts">Peanuts</option>
                    <option value="Soybeans">Soybeans</option>
                    <option value="Milk">Milk</option>
                    <option value="Nuts">Nuts</option>
                    <option value="Celery">Celery</option>
                    <option value="Mustard">Mustard</option>
                    <option value="Sesame">Sesame</option>
                    <option value="Sulphur">Sulphur Dioxide and Sulphite</option>
                    <option value="Lupin">Lupin</option>
                    <option value="Molluscs">Molluscs</option>
                </select>
                <label for="recipe_allergens">Allergens</label>
                </div>
            </div>
            <!--Recipe Ingredients-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-apple-alt prefix green-text"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea" required></textarea>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!--Recipe Equipment-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix green-text"></i>
                    <textarea id="recipe_equipment" name="recipe_equipment" class="materialize-textarea"></textarea>
                    <label for="recipe_equipment">Equipment</label>
                </div>
            </div>
            <!--Recipe Method-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-angle-double-down prefix green-text"></i>
                    <textarea id="recipe_method" name="recipe_method" class="materialize-textarea"></textarea>
                    <label for="recipe_method">Method</label>
                </div>
            </div>
            <!--Recipe Notes-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-sticky-note prefix green-text"></i>
                    <textarea id="recipe_notes" name="recipe_notes" class="materialize-textarea"></textarea>
                    <label for="recipe_notes">Notes</label>
                </div>
            </div>
            <!--Submit Button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}