{% extends "base.html" %}
{% block content %}

    <h3 class="green-text center-align">Add Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-apple-alt prefix green-text"></i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Recipe Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-globe-europe prefix green-text"></i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Cuisine</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix green-text"></i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Time</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}