{% extends "base.html" %}
{% block content %}

    <h3 class="green-text center-align">Edit Recipe</h3>

    <!--Recipe Form-->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!--Recipe Name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-apple-alt prefix green-text"></i>
                    <input id="recipe_name" name="recipe_name" minlength="2" maxlength="75"
                     value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe</label>
                </div>
            </div>
            <!--Recipe Type Selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix green-text"></i>
                     <select id="recipe_type" name="recipe_type" class="validate" required>
                        <option value="" disabled selected>Type Of Meal</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Snack">Snack</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Bread">Bread</option>
                        <option value="Smoothie">Smoothie</option>
                        <option value="Juice">Juice</option>
                    </select>
                        <label for="recipe_type">Type</label>
                </div>
            </div>
            <!--Cuisine Selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-globe-europe prefix green-text"></i>
                    <select id="recipe_cuisine" name="recipe_cuisine" class="validate" required>
                        <option value="" disabled selected>Choose Your Cuisine</option>
                        <option value="Italian">Italian</option>
                        <option value="French">French</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Irish">Irish</option>
                        <option value="English">English</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Indian">Indian</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Thai">Thai</option>
                        <option value="Greek">Greek</option>
                        <option value="American">American</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Vegan">Vegan</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Global">Global</option>
                        <option value="Allergen Friendly">Allergen Friendly</option>
                    </select>
                        <label for="recipe_cuisine">Cuisine</label>
                </div>
            </div>
            <!--Recipe Time Selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix green-text"></i>
                     <select id="recipe_time" name="recipe_time" class="validate" required>
                        <option value="" disabled selected>Time Duration</option>
                        <option value="15 minutes">Less Than 15 Minutes</option>
                        <option value="30 minutes">Less Than 30 Minutes</option>
                        <option value="45 minutes">Less Than 45 Minutes</option>
                        <option value="1 hour">Less Than 1 Hour</option>
                        <option value="1 hour 30 minutes">Less Than 1 Hour 30 Minutes</option>
                        <option value="2 hours">Less Than 2 Hours</option>
                        <option value="3 hours">Less Than 3 Hours</option>
                        <option value="4 hours">Less Than 4 Hours</option>
                        <option value="5 hours">Less Than 5 Hours</option>
                        <option value="6 hours">Less Than 6 Hours</option>
                        <option value="Overnight">Over Night</option>
                    </select>
                        <label for="recipe_time">Time</label>
                </div>
            </div>
            <!--Recipe Ingredients-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-cheese prefix green-text"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea" required>
                        {{- recipe.recipe_ingredients -}}
                    </textarea>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!--Recipe Method-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-angle-double-down prefix green-text"></i>
                    <textarea id="recipe_method" name="recipe_method" class="materialize-textarea" required>
                        {{- recipe.recipe_method -}}
                    </textarea>
                    <label for="recipe_method">Method</label>
                </div>
            </div>
            <!--Submit Button-->
            <div class="row">
                <div class="col s12 center-align">
                    <!--Cancel Button-->
                    <a href="{{ url_for('get_recipes') }}" class="btn-large red text-shadow">
                        Cancel Changes <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large green text-shadow">
                        Edit Recipe <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}