{% extends "base.html" %}
{% block content %}

    <!--Page header-->
    <h3 class="green-text center-align">Edit Recipe</h3>
     
    <!--Page image-->
    <div class="image">
        <img src={{ url_for('static', filename='images/recipe_cluster_edit_recipe_image.jpg')}} alt="Afternoon Tea">
    </div>

    <!--Page paragraph-->
    <div class="page_paragraph">
        <p>Edit your recipe here.</p>  
    </div>

    <!--Recipe form-->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!--Recipe name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-file-signature prefix green-text"></i>
                    <textarea id="recipe_name" name="recipe_name" minlength="2" maxlength="75"
                     value="{{ recipe.recipe_name }}" type="text" class="materialize-textarea" required>
                     {{- recipe.recipe_name -}}
                    </textarea>
                    <label for="recipe_name">Recipe</label>
                </div>
            </div>
            <!--Cuisine selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-globe-europe prefix green-text"></i>
                    <select id="recipe_cuisine" name="recipe_cuisine" class="validate" required>
                        <option value=""></option>
                        <option value="Global" {%if recipe.recipe_cuisine=="Global"%} selected {% endif %}>Global</option>
                        <option value="Irish" {%if recipe.recipe_cuisine=="Irish"%} selected {% endif %}>Irish</option>
                        <option value="English" {%if recipe.recipe_cuisine=="English"%} selected {% endif %}>English</option>
                        <option value="Italian" {%if recipe.recipe_cuisine=="Italian"%} selected {% endif %}>Italian</option>
                        <option value="French" {%if recipe.recipe_cuisine=="French"%} selected {% endif %}>French</option>
                        <option value="Spanish" {%if recipe.recipe_cuisine=="Spanish"%} selected {% endif %}>Spanish</option>
                        <option value="American" {%if recipe.recipe_cuisine=="American"%} selected {% endif %}>American</option>
                        <option value="Mexican" {%if recipe.recipe_cuisine=="Mexican"%} selected {% endif %}>Mexican</option>
                        <option value="Asian" {%if recipe.recipe_cuisine=="Asian"%} selected {% endif %}>Asian</option>
                        <option value="Mediterranean" {%if recipe.recipe_cuisine=="Mediterranean"%} selected {% endif %}>Mediterranean</option>
                        <option value="Vegetarian" {%if recipe.recipe_cuisine=="Vegetarian"%} selected {% endif %}>Vegetarian</option>
                        <option value="Vegan" {%if recipe.recipe_cuisine=="Vegan"%} selected {% endif %}>Vegan</option>
                    </select>
                        <label for="recipe_cuisine">Cuisine</label>
                </div>
            </div>
            <!--Recipe type selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix green-text"></i>
                     <select id="recipe_type" name="recipe_type" class="validate" required>
                        <option value=""></option>
                        <option value="Breakfast" {%if recipe.recipe_type=="Breakfast"%} selected {% endif %}>Breakfast</option>
                        <option value="Lunch" {%if recipe.recipe_type=="Lunch"%} selected {% endif %}>Lunch</option>
                        <option value="Dinner" {%if recipe.recipe_type=="Dinner"%} selected {% endif %}>Dinner</option>
                        <option value="Snacks" {%if recipe.recipe_type=="Snack"%} selected {% endif %}>Snack</option>
                        <option value="Pastry" {%if recipe.recipe_type=="Pastry"%} selected {% endif %}>Pastry</option>
                        <option value="Baking" {%if recipe.recipe_type=="Baking"%} selected {% endif %}>Baking</option>
                        <option value="Smoothie" {%if recipe.recipe_type=="Smoothie"%} selected {% endif %}>Smoothie</option>
                        <option value="Juice" {%if recipe.recipe_type=="Juice"%} selected {% endif %}>Juice</option>
                        <option value="Tea/Coffee" {%if recipe.recipe_type=="Tea/Coffee"%} selected {% endif %}>Tea/Coffee</option>
                        <option value="Beverage" {%if recipe.recipe_type=="Beverage"%} selected {% endif %}>Beverage</option>
                        <option value="Alcohol" {%if recipe.recipe_type=="Alcohol"%} selected {% endif %}>Alcohol</option>
                    </select>
                        <label for="recipe_type">Type</label>
                </div>
            </div>
            <!--Recipe time duration selector-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix green-text"></i>
                     <select id="recipe_time" name="recipe_time" class="validate">
                        <option value=""></option>
                        <option value="Less Than 15 Minutes" {%if recipe.recipe_time=="Less Than 15 Minutes"%} selected {% endif %}>Less Than 15 Minutes</option>
                        <option value="Less Than 30 Minutes" {%if recipe.recipe_time=="Less Than 30 Minutes"%} selected {% endif %}>Less Than 30 Minutes</option>
                        <option value="Less Than 1 Hour" {%if recipe.recipe_time=="Less Than 1 Hour"%} selected {% endif %}>Less Than 1 Hour</option>
                        <option value="Less Than 2 Hours" {%if recipe.recipe_time=="Less Than 2 Hours"%} selected {% endif %}>Less Than 2 Hours</option>
                        <option value="Less Than 3 Hours" {%if recipe.recipe_time=="Less Than 3 Hours"%} selected {% endif %}>Less Than 3 Hours</option>
                        <option value="Less Than 4 Hours" {%if recipe.recipe_time=="Less Than 4 Hours"%} selected {% endif %}>Less Than 4 Hours</option>
                        <option value="Less Than 5 Hours" {%if recipe.recipe_time=="Less Than 5 Hours"%} selected {% endif %}>Less Than 5 Hours</option>
                        <option value="Less Than 6 Hours" {%if recipe.recipe_time=="Less Than 6 Hours"%} selected {% endif %}>Less Than 6 Hours</option>
                        <option value="Over Night" {%if recipe.recipe_time=="Over Night"%} selected {% endif %}>Over Night</option>
                    </select>
                        <label for="recipe_time">Time</label>
                </div>
            </div>
            <!--Recipe serving-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensil-spoon prefix green-text"></i>
                     <select id="recipe_serving" name="recipe_serving" class="validate">
                        <option value=""></option>
                        <option value="One" {% if recipe.recipe_serving=="One"%} selected {% endif %}>One</option>
                        <option value="Two" {% if recipe.recipe_serving=="Two"%} selected {% endif %}>Two</option>
                        <option value="Three" {% if recipe.recipe_serving=="Three"%} selected {% endif %}>Three</option>
                        <option value="Four" {% if recipe.recipe_serving=="Four"%} selected {% endif %}>Four</option>
                        <option value="Five" {% if recipe.recipe_serving=="Five"%} selected {% endif %}>Five</option>
                        <option value="Six" {% if recipe.recipe_serving=="Six"%} selected {% endif %}>Six</option>
                    </select>
                        <label for="recipe_serving">Serves</label>
                </div>
            </div>       
            <!--Allergyn selection-->
            <div class="row">
                <div class="input-field col s12">
                <i class="fas fa-bacterium prefix green-text"></i>
                <select multiple id="recipe_allergens" name="recipe_allergens" class="validate">
                    <option value="" {% if recipe.recipe_allergens==""%} selected {% endif %}></option>
                    <option value="Gluten" {% if recipe.recipe_allergens=="Gluten"%} selected {% endif %}>Gluten</option>
                    <option value="Crustaceans" {% if recipe.recipe_allergies=="Crustaceans"%} selected {% endif %}>Crustaceans</option>
                    <option value="Eggs" {% if recipe.recipe_allergens=="Eggs"%} selected {% endif %}>Eggs</option>
                    <option value="Fish" {% if recipe.recipe_allergens=="Fish"%} selected {% endif %}>Fish</option>
                    <option value="Peanuts" {% if recipe.recipe_allergens=="Peanuts"%} selected {% endif %}>Peanuts</option>
                    <option value="Soybeans" {% if recipe.recipe_allergens=="Soybeans"%} selected {% endif %}>Soybeans</option>
                    <option value="Milk" {% if recipe.recipe_allergens=="Milk"%} selected {% endif %}>Milk</option>
                    <option value="Nuts" {% if recipe.recipe_allergens=="Nuts"%} selected {% endif %}>Nuts</option>
                    <option value="Celery" {% if recipe.recipe_allergens=="Celery"%} selected {% endif %}>Celery</option>
                    <option value="Mustard" {% if recipe.recipe_allergens=="Mustard"%} selected {% endif %}>Mustard</option>
                    <option value="Sesame" {% if recipe.recipe_allergens=="Sesame"%} selected {% endif %}>Sesame</option>
                    <option value="Sulphur Dioxide and Sulphite" {% if recipe.recipe_allergens=="Sulphur Dioxide and Sulphite"%} selected {% endif %}>Sulphur Dioxide and Sulphite</option>
                    <option value="Lupin" {% if recipe.recipe_allergens=="Lupin"%} selected {% endif %}>Lupin</option>
                    <option value="Molluscs" {% if recipe.recipe_allergens=="Molluscs"%} selected {% endif %}>Molluscs</option>
                </select>
                <label for="recipe_allergens">Allergens</label>
                </div>
            </div>
            <!--Recipe ingredients-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-apple-alt prefix green-text"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea" required>
                        {{- recipe.recipe_ingredients -}}
                    </textarea>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!--Recipe equipment-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix green-text"></i>
                    <textarea id="recipe_equipment" name="recipe_equipment" class="materialize-textarea">
                        {{- recipe.recipe_equipment -}}
                    </textarea>
                    <label for="recipe_equipment">Equipment</label>
                </div>
            </div>
            <!--Recipe method-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-angle-double-down prefix green-text"></i>
                    <textarea id="recipe_method" name="recipe_method" class="materialize-textarea">
                        {{- recipe.recipe_method -}}
                    </textarea>
                    <label for="recipe_method">Method</label>
                </div>
            </div>
            <!--Recipe notes-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-sticky-note prefix green-text"></i>
                    <textarea id="recipe_notes" name="recipe_notes" class="materialize-textarea">
                        {{- recipe.recipe_notes -}}
                    </textarea>
                    <label for="recipe_notes">Notes</label>
                </div>
            </div>
            <!--Submit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <!--Cancel button-->
                    <a href="{{ url_for('get_recipes') }}" class="btn-large red text-shadow">
                        Cancel Changes <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large green text-shadow">
                        Save Changes <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}