{% extends "base.html" %}
{% block content %}

    <!--Page Header-->
    <h3 class="center-align green-text">Log In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!--Username-->
                <div class="row">
                    <div class="input-field col s12">
                         <i class="fas fa-id-badge prefix green-text"></i>
                         <input id="username" name="username" type="text" minlength="5"
                         maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                         <label for="username">Username</label>
                    </div>
                </div>
                <!--Password-->
                <div class="row">
                    <div class="input-field col s12">
                         <i class="fas fa-fingerprint prefix green-text"></i>   
                         <input id="password" name="password" type="password" minlength="5"
                         maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                         <label for="password">Password</label>
                    </div>
                </div>
                <!--Log In-->
                <div class="row">
                      <button type="submit" class="col s12 btn-large green text-shadow">
                          Log In <i class="fas fa-user-plus"></i>
                      </button>
                </div>
            </div>
        </form>
    </div>

    <!--Link To Sign Up Page-->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                New Here? <a href="{{ url_for('sign_up') }}" class="green-text">Create Account</a> 
            </p>
        </div>
    </div>

{% endblock %}