{% extends "base.html" %}
{% block content %}

     <h3 class="green-text center-align">All Recipes</h3>

     <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text green text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }}</strong>
            </div>
            <div class="collapsible-body">
                <p><strong>Type</strong> : {{ recipe.recipe_type }}</p>
                <p><strong>Cuisine</strong> : {{ recipe.recipe_cuisine }}</p>
                <p><strong>Time</strong> : {{ recipe.recipe_time }}</p>
                <p><strong>Ingredients</strong> : {{ recipe.recipe_ingredients }}</p>
                <p><strong>Method</strong> : {{ recipe.recipe_method }}</p>
                <p><em>By : {{ recipe.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}