{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_cusine }}<br>
        {{ recipe.recipe_time }}<br>
        {{ recipe.recipe_ingredients }}<br>
        {{ recipe.recipe_method }}<br>
    {% endfor %}

    <ul class="collapsible">
            <li>
                <div class="collapsible-header white-text green text-shadow"><i class="fas fa-caret-down"></i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header white-text green text-shadow"><i class="fas fa-caret-down"></i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header white-text green text-shadow"><i class="fas fa-caret-down"></i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
    </ul>

{% endblock %}