{% extends "base.html" %}
{% block content %}

    <h3 class="green-text center-align">Resources</h3>

    <div>
        <p>Here are some links to some great to</p>
        <ul>
            <li>Blogs</li>
            <p></p>
            <li>YouTube Channels</li>
            <li>Books</li>
            <p></p>
            <li>Ingredients</li>
            <p></p>
            <li>Equiptment</li>
            <p></p>
        </ul>
    </div>

    <div>
        <h3>Blogs</h3>

        <h4>Cooks Illustrated</h4>
        <p></p>

        <h4>Chef Steps</h4>
        <p></p>
    </div>

    <div>
        <h3>YouTube Channels</h3>

        <h4>Munchies</h4>
        <p></p>

        <h4>Bon Apetit</h4>
        <p></p>
    </div>

    <div>
        <h3>Books</h3>

        <h4>The Professional Chef</h4>
        <p></p>

        <h4>Baking & Pastry</h4>
        <p></p>

        <h4>The Flavor Bible</h4>
        <p></p>

        <h4>The Herb & Spice Bible</h4>
        <p></p>
    </div>

    <div>
        <h3>Equiptment</h3>

        <h4>Amazon</h4>
        <p></p>

        <h4>Pavoni</h4>
        <p></p>
    </div>

    <div>
        <h3>Ingredients</h3>

        <h4>Sous Chef</h4>
        <p></p>
    </div>
{% endblock %}