{% extends "base.html" %}
{% block content %}

    <h3 class="green-text center-align">Resources</h3>

    <div>
        <p>Here are some links to some great to Blogs, Youtube Channels, Books, Equipment and Ingredients</p>  
    </div>

    <div class="resources">
        <h4 class="green-text">Blogs</h4>   

        <a href="https://www.cooksillustrated.com/" target="_blank"><h5>Cooks Illustrated</h5></a>
        <p></p>

        <a href="https://www.chefsteps.com/" target="_blank"><h5>Chef Steps</h5></a>
        <p></p>
    
        <h4 class="green-text">YouTube Channels</h4>

        <a href="https://www.youtube.com/channel/UCaLfMkkHhSA_LaCta0BzyhQ" target="_blank"><h5>Munchies</h5></a>
        <p></p>

        <a href="https://www.youtube.com/user/BonAppetitDotCom" target="_blank"><h5>Bon Appetit</h5></a>
        <p></p>
    
        <h4 class="green-text">Books</h4>

        <a href="https://www.bookdepository.com/Professional-Chef-Culinary-Institute-America-CIA/9780470421352?ref=grid-view&qid=1620578291695&sr=1-1" target="_blank"><h5>The Professional Chef</h5></a>
        <p></p>

        <a href="https://www.bookdepository.com/Baking-Pastry-Culinary-Institute-America-CIA/9780470928653?ref=grid-view&qid=1620578416376&sr=1-1" target="_blank"><h5>Baking and Pastry</h5></a>
        <p></p>

        <a href="https://www.bookdepository.com/Flavor-Bible-Karen-Page/9780316118408?ref=grid-view&qid=1620578497270&sr=1-1" target="_blank"><h5>The Flavor Bible</h5></a>
        <p></p>

        <a href="https://www.bookdepository.com/Spice-Herb-Bible-Ian-Hemphill/9780778804932?ref=grid-view&qid=1620578458379&sr=1-1" target="_blank"><h5>The Herb & Spice Bible</h5></a>
        <p></p>
 
        <h4 class="green-text">Equipment</h4>

        <a href="https://www.amazon.co.uk/ref=nav_logo" target="_blank"><h5>Amazon</h5></a>
        <p></p>

        <a href="https://pavonitalia.com/professional/en" target="_blank"><h5>Pavoni</h5></a>
        <p></p>
    
        <h4 class="green-text">Ingredients</h4>

        <a href="https://www.souschef.co.uk/" target="_blank"><h5>Sous Chef</h5></a>
        <p></p>
    </div>
{% endblock %}