{% extends "base.html" %}
{% block content %}

     <!--Page Header-->
    <h3 class="green-text center-align">Resources</h3>

    <!--Page Image-->
    <div class="image">
        <img class="responsive" width="800" src={{ url_for('static', filename='images/recipe_cluster_resources_image.jpg')}} alt="Amuse Bouche">
    </div>
    
    <!--Page Paragraph-->
    <div class="page_paragraph">
        <p>Here are some links to some great to Blogs, YouTube Channels, Books, Equipment and Ingredients</p>  
    </div>

    <!--List Of Resources Links-->
    <div class="resources">
        <h4 class="green-text">Blogs</h4>   

        <a href="https://www.cooksillustrated.com/" target="_blank"><h5><u>Cooks Illustrated</u></h5></a>
        <p>
            Cook's Illustrated is an American cooking magazine published every two months by the America's Test Kitchen company in Brookline, Massachusetts.
            It was founded back in the 1980s and has won many awards. The site contains great recipes,
            science tests and many more amazing content.
        </p>

        <a href="https://www.chefsteps.com/" target="_blank"><h5><u>Chef Steps</u></h5></a>
        <p>
            Chef Steps is dedicated to the science behind cooking. They are a team of chefs, writers and video professionals.
            They also offer premium classes. Make sure to sign up to their newsletter while you're there!
        </p>
    
        <h4 class="green-text">YouTube Channels</h4>

        <a href="https://www.youtube.com/channel/UCaLfMkkHhSA_LaCta0BzyhQ" target="_blank"><h5><u>Munchies</u></h5></a>
        <p>
            Munchies is a YouTube channel and website run by Vice. They aim to deliver footage across the globe,
            the wide spectrum of the global culinary experience and the diverse voices that are pulling us forward.
            If you are looking for groundbreaking news across the world, or amazing recipes look no further!</p>

        <a href="https://www.youtube.com/user/BonAppetitDotCom" target="_blank"><h5><u>Bon Appetit</u></h5></a>
        <p>
            Bon Appetit is a great YouTube channel for making recipes at home. With some really great cooks, and loads of laughs along the way!
        </p>
    
        <h4 class="green-text">Books</h4>

        <a href="https://www.bookdepository.com/Professional-Chef-Culinary-Institute-America-CIA/9780470421352?ref=grid-view&qid=1620578291695&sr=1-1" target="_blank"><h5><u>The Professional Chef</u></h5></a>
        <p>
            The Professional Chef is among the best-selling titles in Wiley's cooking program and represents the cornerstone book in the publishing partnership with the CIA. 
            They have completely reorganized this book to reflect the way that people cook in the kitchen today, with the best of foods and flavours from around the world.
            The book reviews ingredients, equipment, and skills of the professional chef. It then explores the techniques for the full range of food items:
            vegetables, potatoes, grains, legumes, pasta, meats, fish and seafood, poultry, eggs, fruits, soups, sauces, quick breads and cakes, yeast breads, and more.
            This is like a cooking bible!</p>

        <a href="https://www.bookdepository.com/Baking-Pastry-Culinary-Institute-America-CIA/9780470928653?ref=grid-view&qid=1620578416376&sr=1-1" target="_blank"><h5><u>Baking and Pastry</u></h5></a>
        <p>
            Written again by CIA another must have book. Covering the full range of the baking and pastry arts and widely used by professionals and readers who want to bake like professionals,
            this book offers detailed, accessible instructions on the techniques for everything from yeast breads, pastry doughs, quick breads, breakfast pastries, and savoury items to cookies,
            pies, cakes, frozen desserts, custards, souffles, and chocolates
        </p>

        <a href="https://www.bookdepository.com/Flavor-Bible-Karen-Page/9780316118408?ref=grid-view&qid=1620578497270&sr=1-1" target="_blank"><h5><u>The Flavour Bible</u></h5></a>
        <p>
            Winner of the 2009 James Beard Book Award for Best Book: Reference and Scholarship A groundbreaking guide to modern flavour pairings that will revolutionize the way you cook. 
            Great cooking goes beyond following a recipe -- it's knowing how to season ingredients to coax the greatest possible flavour from them. Drawing on dozens of leading chefs' combined experience in top restaurants across the country,
            Karen Page and Andrew Dornenburg present the definitive guide to creating "deliciousness" in any dish. Thousands of ingredient entries, organized alphabetically and cross-referenced, provide a treasure trove of spectacular flavour combinations.
        </p>

        <a href="https://www.bookdepository.com/Spice-Herb-Bible-Ian-Hemphill/9780778804932?ref=grid-view&qid=1620578458379&sr=1-1" target="_blank"><h5><u>The Herb & Spice Bible</u></h5></a>
        <p>
            From bay leaves to lemongrass to vanilla beans, a well-stocked kitchen must have a wide selection of herbs and spices. 
            This book is the culmination of Ian Hemphill's lifelong experience in the spice industry. It is a fascinating and authoritative guide. 
            Hemphill describes a wide range of global herbs and spices used in modern kitchens either alone or in wonderful blends. He completely demystifies the art of combining herbs and spices and home cooks can meet and enjoy a world of flavours previously found only at internationally inspired restaurants.
        </p>
 
        <h4 class="green-text">Equipment</h4>

        <a href="https://www.amazon.co.uk/ref=nav_logo" target="_blank"><h5><u>Amazon</u></h5></a>
        <p>
            Amazon offers a large variety of pretty much anything, cooking utensils and equipment is one of their specialities. You can purchase a large range of items from pans, pots, moulds and other great utensils.
        </p>

        <a href="https://pavonitalia.com/professional/en" target="_blank"><h5><u>Pavoni</u></h5></a>
        <p>
            Pavoni is an Italian Brand that produces amazing moulds and products for the pastry lovers.
        </p>
    
        <h4 class="green-text">Ingredients</h4>

        <a href="https://www.souschef.co.uk/" target="_blank"><h5><u>Sous Chef</u></h5></a>
        <p>
            Sous Chef is the shop for people who love cooking! It is the place-to-be online for cooks and chefs. With a broad range of hard to find ingredients you will get lost and along the way run into equipment, tableware and gifts inspired by leading restaurants.
        </p>
    </div>
    
{% endblock %}