{% extends "base.html" %}
{% block content %}

    <h3 class="center-align green-text">Sign Up</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
            <div class="card-panel">
                <!--Username-->
                <div class="row">
                    <div class="input-field col s12">
                         <i class="fas fa-id-badge prefix green-text"></i>
                         <input id="username" name="username" type="text" minlength="5"
                         maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                         <label for="username">Username</label>
                    </div>
                </div>
                <!--Password-->
                <div class="row">
                    <div class="input-field col s12">
                         <i class="fas fa-fingerprint prefix green-text"></i>   
                         <input id="password" name="password" type="password" minlength="5"
                         maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                         <label for="password">Password</label>
                    </div>
                </div>
                <!--Sign Up Button-->
                <div class="row">
                      <button type="submit" class="col s12 btn-large green text-shadow">
                          Sign Up <i class="fas fa-user-plus"></i>
                      </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}